/* Global styles */ 
        body {
            font-family: Arial, sans-serif;
            background-color: #121212;
            color: #cac5c5;
            margin: 0;
            padding: 20px;
        }
        h1 {
            font-size: 60px;
            color: #1DB954;
            text-align: center;
            
        }
        h2 {
            color: #fffefe;
            text-align: center;
            margin-bottom: 10px
            
        }
        h4 {
            text-align: left;
            margin-left: 5px;
            margin-top: -1px;
        }
        h5{
            color: #fffefe;
            text-align: center; 
        }
        h6{
            color: #fffefe;
            text-align: center; 
        }
        ol {
            max-width: 600px;
            margin: 0 auto;
            padding: 0;
            list-style-type: decimal;
        }
        li {
            font-size: 14px;
            margin: 10px 0;
            padding: 10px;
            color: #ffffff;
            background-color: #4e4a4a;
            border-radius: 8px;
            box-shadow: 4px 6px 10px rgba(73, 72, 72, 0.1);
        }
        a  {
            text-decoration: none;
            color: #1DB954;
            transition: color 0.3s;
            
        }
        a:hover {
            color: #137134;
        
        }
        ol {
            list-style-type: none;
            padding-left: 0;
        }